<body class="grid-container">
<!--
  <nav class="navbar">
    <app-navbar></app-navbar>
  </nav>
-->
  <article class="main">

    <div class="container">
      <h3>Datos de la consulta más reciente</h3>
      <div class="row">
        <div class="col">
          <div class="card custom-card fixed-text-size ">
            <div class="card-header text-center fixed-card-size ">
              Ritmo cardiaco
            </div>
            <div class="card-body text-center custom-card2">
              {{userRitmo}} lpm
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card custom-card fixed-text-size">
            <div class="card-header text-center fixed-card-size">
              Frecuencia respiratoria
            </div>
            <div class="card-body text-center custom-card2">
              {{userFrecuencia}} rpm
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card custom-card fixed-text-size ">
            <div class="card-header text-center fixed-card-size">
              Peso 
            </div>
            <div class="card-body text-center custom-card2">
              {{userPeso}} kg
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card custom-card fixed-text-size">
            <div class="card-header text-center fixed-card-size">
              Altura
            </div>
            <div class="card-body text-center custom-card2">
              {{userAltura}} m
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card custom-card fixed-text-size">
            <div class="card-header text-center fixed-card-size">
              Índice masa corporal
            </div>
            <div class="card-body text-center custom-card2">
              {{userBMI}}
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card custom-card fixed-text-size">
            <div class="card-header text-center fixed-card-size">
              Saturación Oxígeno (02)
            </div>
            <div class="card-body text-center custom-card2">
              {{userSaturacion}} %
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card custom-card fixed-text-size">
            <div class="card-header text-center fixed-card-size">
              Temperatura
            </div>
            <div class="card-body text-center custom-card2">
              {{userTemperatura}} º
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card custom-card fixed-text-size">
            <div class="card-header text-center fixed-card-size">
              Presión sanguínea
            </div>
            <div class="card-body text-center custom-card2">
              {{userPresion}} mmHg
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-bar-chart></app-bar-chart>
    <app-tabla-historial></app-tabla-historial>

    <div class="d-grid gap-2">
      <button class="btn btn-lg custom-btn" type="button">Descargar informe</button>
    </div>

  </article>
</body>